<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta charset="utf-8">
        <meta name="Robots" content="INDEX,FOLLOW">

        <link rel="stylesheet" href="{{ url_for('.static', filename='css/main.css') }}">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

        <script src="{{ url_for('.static', filename='js/main.js') }}"></script>

        <title>{% block title %}Archive Chan{% endblock %}</title>
        {% block inner_head %}{% endblock %}
    </head>

    <body id="{{ body_id }}">
        <div id="site">
            <header>
                <div class="wrapper">
                    {# Main nav. #}
                    <a href="{{ url_for('.index') }}">ARCHIVE CHAN</a>
                    {% block main_nav %}
                        {% if board_name %}<a href="{{ url_for('.board', board=board_name) }}">/{{ board_name }}/</a>{% endif %}
                        {% if thread_number %}<a href="{{ url_for('.thread', board=board_name, thread=thread_number) }}">#{{ thread_number }}</a>{% endif %}
                    {% endblock %}

                    {# Context sensitive nav. #}
                    {% from 'archive_chan/snippets/nav.html' import nav %}
                    <ul class="nav">
                        {{ nav(board_name, thread_number) }}
                    </ul>
                </div>
            </header>

            {% block content %}{% endblock %}
        </div>

        <footer>
            <div class="wrapper">
                <ul class="links">
                    <li><a href="{#{% url "archive_chan:status" %}#}">status</a></li>
                </ul>
                <div>
                    All content is generated automatically and originates from <a href="http://4chan.org">4chan</a>.
                    <span class="generated"><i class="fa fa-linux"></i> <span>{{ now }}</span></span>
                </div>
            </div>
        </footer>
    </body>
</html>
