{% extends "archive_chan/base.html" %}

{% block inner_head %}
    <script src="{{ url_for('.static', filename='js/gallery.js') }}"></script>
    <script>
        var info_data = {
            {% if board_name %}board: '{{ board_name }}',{% endif %}
            {% if thread_number %}thread: '{{ thread_number }}',{% endif %}
            api_url: '{{ url_for('.api_gallery') }}'
        };
    </script>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="wrapper">
            <noscript><p>This page is updated automatically and requires JavaScript.</p></noscript>
            <ul id="gallery-images"></ul>
        </div>
    </div>
{% endblock %}
