{% macro pagination_macro(pagination, url_query) -%}
    <div class="pagination">
        {% if pagination.has_prev %}
            <a href="{{ url_query }}&page={{ pagination.prev_page }}" class="page-prev" title="Previous page"><i class="fa fa-angle-left"></i></a>
        {% endif %}
        <div class="page-current">
            Page {{ pagination.page }} of {{ pagination.pages }}
        </div>
        {% if pagination.has_next %}
            <a href="{{ url_query  }}&page={{ pagination.next_page }}" class="page-next" title="Next page"><i class="fa fa-angle-right"></i></a>
        {% endif %}
    </div>
{%- endmacro %}
