{% load archive_chan_filters %}

<div class="board-filters">
    <div>
        <h3>Order by</h3>
        {% simple_sort "sort" %}
    </div>

    <div>
        <h3>Saved</h3>
        {% simple_filter "saved" %}
    </div>

    <div>
        <h3>Last reply</h3>
        {% simple_filter "last_reply" %}
    </div>

    <div>
        <h3>Tagged</h3>
        {% simple_filter "tagged" %}
    </div>

    {% if parameters.tag %}
        <div>
            <h3>Tag</h3>
            <ul class="tags">
                {% for name in parameters.tag %}
                    <li>
                        <i class="fa fa-fw fa-tag"></i>
                        <a class="tag-link" href="?tag={{ name }}">{{ name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
