<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="{{ url_query }}&page={{ page_obj.previous_page_number }}" class="page-prev" title="Previous page"><i class="fa fa-angle-left"></i></a>
    {% endif %}
    <div class="page-current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </div>
    {% if page_obj.has_next %}
        <a href="{{ url_query  }}&page={{ page_obj.next_page_number }}" class="page-next" title="Next page"><i class="fa fa-angle-right"></i></a>
    {% endif %}
</div>
