{% load archive_chan_filters %}

<ul class="fa-ul">
    {% for item in available_parameters %}
        <li>
            {% if item.0 == parameter %}
                <i class="fa-li fa fa-check"></i>
                <a href="{{ url }}{% search_url_query parameter_name item.0 %}" class="current-selection">{{ item.1.0 }}</a>
            {% else %}
                <a href="{{ url }}{% search_url_query parameter_name item.0 %}">{{ item.1.0 }}</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>
