{% import "core/snippets/filters.html" as filters with context %}

<div class="board-filters">
    <div>
        <h3>Order by</h3>
        {{ filters.simple_sort("sort", board_url_query) }}
    </div>

    <div>
        <h3>Saved</h3>
        {{ filters.simple_filter("saved", board_url_query) }}
    </div>

    <div>
        <h3>Last reply</h3>
        {{ filters.simple_filter("last_reply", board_url_query) }}
    </div>

    <div>
        <h3>Tagged</h3>
        {{ filters.simple_filter("tagged", board_url_query) }}
    </div>

    {% if parameters.tag %}
        <div>
            <h3>Tag</h3>
            <ul class="tags">
                {% for name in parameters.tag %}
                    <li>
                        <i class="fa fa-fw fa-tag"></i>
                        <a class="tag-link" href="?tag={{ name }}">{{ name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
