$primary-color: #65c6bb;
$background-color: #eee;
$border-color: #dadfe1;

/*   Main.   */
html, body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 0;
    margin: 0;
    color: #000;
    height: 100%;
}

div#site{
    min-height: 100%;
}

header div.wrapper, div.about div.wrapper, div#projects div.wrapper, footer div.wrapper, div.content div.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}

#body-home,
#body-board,
#body-thread,
#body-stats{
    background-color: $background-color;
}


/*   Header & footer.   */
header, footer{
    display: block;
    padding: 1em;
    line-height: 1;
}

header{
    background-color: #242424;
    color: #fff;
}

footer{
    color: #999;
    margin-top: -3em;
    position: relative;
    text-align: right;
}

div#site>div:last-child{
    padding-bottom: 4em; /* 3em footer + 1em padding */
}

.logo{
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    display: inline-block;

    a{
        color: #fff;
        text-decoration: none;
        display: inline-block;
        margin: 0 0 0 .5em;
    }

    a:first-child{
        margin: 0;
    }
}

/*   Nav.   */
body#body-home .nav-home{
    text-decoration: underline;
}

.nav{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    float: right;
    margin: 8px 0 0 0;

    li{
        display: inline-block;
    }

    li:after{
        content: "|";
        margin: 1em 0;
    }

    li:last-child:after{
        display: none;
    }

    li a{
        display: inline-block;
        text-decoration: none;
        padding: 0 1em;
        color: #fff;
    }

    li a:hover{
        color: $primary-color;
    }
}


/*   Footer.   */
footer{
    .wrapper{
        display: flex;
        flex-flow: row wrap;
    }

    .additional-links{
        li{
            display: inline-block;
            margin: 0 .5em;

            a{
                text-decoration: none;
                color: inherit;
            }

            a:hover{
                color: $primary-color;
            }
        }
    }

    .footer-main{
        flex-grow: 1;
    }

    .generated{
        i{
            color: #ddd;
        }
        
        span{
            display: none;
        }
    }

    .generated:hover{
        i{
            color: #999;
        }

        span{
            display: inline;
        }
    }
}


/*   Headers.   */
h2, h3{
  margin: 0;
  line-height: 1;
  margin:  0 0 1em;
}

h2{
  font-size: 20px;
}

h3{
  font-size: 18px;
}

    
/* Pagination. */
.pagination{
    text-align: center;
    display: flex;

    a{
        display: block;
        height: 40px;
        width: 40px;
        font-size: 16px;
        text-align: center;
    }

    a:hover{
        color: #fff;
        background-color: $primary-color;
    }

    i{
        vertical-align: middle;
        line-height: 40px;
        font-size: 25px;
    } 

    .page-current{
        flex: 1;
        display: inline-block;
        vertical-align: middle;
        line-height: 40px;
        font-size: 16px;
    } 
}

/*   General.  */
p{
    display: block;
    line-height: 1.2em;
}

a{
    text-decoration: underline;
    color: #000;
    cursor: pointer;
}

a:hover{
    color: $primary-color;
}

i{
    font-style: italic;
}

/*   Content.   */
div.content{
    padding: 1em;

    p{
        margin: 1em 0;
    }
}

/*   Boards.   */
#boards{
    display: flex;
    flex-flow: row wrap;

    li{
        display: block;
        width: 33%;
        box-sizing: border-box;
        padding: 5px;
    }

    a{
        padding: .5em;
        display: block;
        background-color: #fff;
        border: 1px solid $border-color;

        text-decoration: none;
        font-size: 50px;
        text-align: center;
    }

    a:hover{
        color: #fff;
        background-color: $primary-color;
    }
}

/*   Threads.   */

.board-wrapper{
    display: flex;
    flex-flow: row nowrap;
}

.board-sidebar{
    width: 160px;
    padding: 0 0 0 1em;
    box-sizing: border-box;
}

.thread-filters{
    h3{
        margin: .5em 0 .5em; 
    }

    a{
        text-decoration: none; 
    }

    .current-selection{
        text-decoration: underline; 
    }
}

#threads{
    flex: 1;

    display: flex;
    flex-flow: row wrap;

    li{
        display: block;
        width: 25%;
        box-sizing: border-box;
        padding: 5px;
    }

    a{
        display: flex;
        flex-flow: column nowrap;

        box-sizing: border-box;
        height: 100%;
        padding: 1em;
        overflow: hidden;

        text-decoration: none;
        text-align: center;

        background-color: #fff;
        border: 1px solid $border-color;
    }

    .thread-saved a{
        background-color: #67809f;
        color: #ecf0f1;
    }

    a:hover{
        color: #fff;
        background-color: $primary-color;
    }

    .img-container{
        min-height: 100px;
        overflow: hidden;

        img{
            max-width: 100%;
            max-height: 150px;
        }
    }

    .thread-info{
        font-size: 12px;

        div{
            margin: .2em 0;
        }
    }

    .thread-tags{
        font-size: 11px;
        margin: .2em 0;

        div{
            display: inline-block;
            margin: .2em;
            padding: .4em;
            background-color: $primary-color;
            color: #fff;
            border-radius: 3px;
        }
    }

    .thread-subject{
        font-weight: bold;
    }

    .thread-comment{
        max-height: 100px;
        overflow: hidden;
        flex: 1;
    }
}


/*   Posts.   */
#posts .post{
    padding: 1em;

    border: 1px solid $border-color;
    margin-bottom: 10px;
    background-color: #fff;

    .post-image{ /* Lets avoid wasting space in the tooltip. */
        width: 200px;
    }
}

.post{ /* .post needs a spearate class instead of #posts>li because it is also displayed in tooltips. */
    width: 100%;
    transition: background-color 3s;
    box-sizing: border-box;

    display: flex;
    flex-flow: row nowrap;

    .post-image{
        padding: 0 1em 0 0;
        box-sizing: border-box;
        text-align: center;

        img{
            max-width: 100%;
        }
    }

    .post-content{
        flex: 1;
    }

    .post-header{
        li{
            display: inline-block;
        }
    }

    .post-subject{
        font-weight: bold;
    }

    .post-author{
    }

    .post-author-name, .post-author-trip{
        color: #117743;
    }

    .post-time{
        color: #555;
    }

    .post-number a{
       text-decoration: none; 
    }

    .post-backlinks{
        display: inline;
    }

    .post-backlinks li{
        padding: 0 0 0 .5em;
    }

    /*   Post content.   */
    .post-comment{
        padding: 1em 0;

        .post-link{
            color: #c0392b;
        }

        .post-link:hover{
            color: #e74c3c;
        }
    }

    .post-link-dead{
        text-decoration: line-through;
    }
}

.post-highlight{
    background-color: #c8f7c5 !important;
}


.greentext{
    color: #4daf7c;
}

pre{
    margin: .5em 0;
}

code{
    overflow: auto;
}

/*   Tags.   */
.tags{
    li{
        display: flex;
        padding: .4em .6em;
        text-align: left;
    }

    .tag-link{
        text-decoration: none;
        flex: 1;
    }

    .tag-link:hover{
        text-decoration: underline;
        color: #fff;
    }

    .remove-tag{
        display: none;
        color: #fff;
    }

    .remove-tag:hover{
        color: #e74c3c;
    }

    li:hover{
        background-color: $primary-color;
        color: #fff;
    }

    li:hover .tag-link{
        color: #fff;
    }

    li:hover .remove-tag{
        display: inline-block;
    }
}

#add-tag-input{
    display: block;
    width: 100%;
    padding: .2em;
    margin: 1em 0;
    border: 1px solid $border-color;
    transition: border 1s;
    box-sizing: border-box;
}

#add-tag-input:focus{
    border: 1px solid $primary-color;
}

.autocomplete-suggestions{
    background-color: #fff;
    border: 1px solid $border-color;
    border-top: 0;
}

.autocomplete-suggestion{
    padding: .2em 0;
}

.autocomplete-selected{
    color: #fff;
    background-color: $primary-color;
}

/*   Buttons.   */
.button{
    display: block;
    text-align: center;
    padding: 1em;
    margin: 1em 0;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.button-green{
    background-color: #16a085;
}

.button-green:hover{
    background-color: #1abc9c;
}

.button-red{
    background-color: #c0392b;
}

.button-red:hover{
    background-color: #e74c3c;
}

/* Stats. */
.chart-container{
    padding: 5px;

    .chart{
        width: 100%;
        border: 1px solid $border-color;
        padding: 1em;
        box-sizing: border-box;
        background-color: #fff;
    }

    #chart{
        height: 300px;
    }
}

.stats{
    display: flex;
    flex-flow: row wrap;

    li{
        flex-grow: 1;
        padding: 5px;
        min-width: 33.33%;
        box-sizing: border-box;

        >div{
            box-sizing: border-box;
            background-color: #fff;
            padding: 1em;
            border: 1px solid $border-color;
            height: 100%;
        }

        .value{
            text-align: center;
            font-size: 30px;
        }
    }
}

.last-update-info{
    padding: 5px;
    text-align: right;
    color: #999;

    a{
        color: #999;
    }

    a:hover{
        color: $primary-color;
    }
}

/*   Error page.   */
.error-image{
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

/*   Responsive.   */

/*   Thread.   */
@media screen and (max-width: 500px){
    #posts .post{
        flex-flow: column nowrap;

        .post-image{
            width: 100%;
            padding: 1em;
        }
        
        .post-content{
            margin-left: 0;
        }
    }
}

/*   Catalog.   */
@media screen and (max-width: 820px){
    #threads li{
        width: 33%;
    }
}

@media screen and (max-width: 670px){
    #threads li{
        width: 50%;
    }
}

@media screen and (max-width: 520px){
    #threads{
        margin-right: 0;
    }

    .board-wrapper{
        flex-flow: column-reverse nowrap;
    }

    .board-sidebar{
        width: 100%;
    }

    .thread-filters{
        display: flex;
        flex-flow: row wrap;

        div{
            min-width: 33%;
            flex-grow: 1;
        }
    }
}

@media screen and (max-width: 350px){
    .thread-filters div{
        min-width: 100%;
    }

    #threads li{
        width: 100%;
    }
}

/*   Index.   */
@media screen and (max-width: 600px){
    #boards li{
        width: 100%;
    }
}

/*   Stats.   */
@media screen and (max-width: 700px){
    .stats li{
        min-width: 50%;
    }
}

@media screen and (max-width: 500px){
    .stats li{
        min-width: 100%;
    }
}


/*   Nav/header.   */
@media screen and (max-width: 360px){
    .logo{
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    .nav{
        float: none;
        text-align: center;
        display: block;
        margin: 1em auto;
    }
}
