$primary-color: #65c6bb;
$background-color: #eee;
$border-color: #dadfe1;
$text-color-dimmed: #999;
$highlight-color: #c8f7c5;

/*   Main.   */
html, body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 0;
    margin: 0;
    color: #000;
    height: 100%;
}

div#site{
    min-height: 100%;
}

header div.wrapper, div.about div.wrapper, div#projects div.wrapper, footer div.wrapper, div.content div.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}

#body-home,
#body-board,
#body-thread,
#body-stats,
#body-gallery,
#body-search,
#body-status{
    background-color: $background-color;
}


/*   Header & footer.   */
header, footer{
    display: block;
    padding: 1em;
    line-height: 1;
}

header{
    background-color: #242424;
    color: #fff;
}

footer{
    color: $text-color-dimmed;
    margin-top: -3em;
    position: relative;
    text-align: right;
}

div#site>div:last-child{
    padding-bottom: 4em; /* 3em footer + 1em padding */
}

header .wrapper{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    display: flex;
    align-items: flex-end;

    >a{
        display: block;
        margin: 0 0 0 .5em;
    }

    >a:first-child{
        margin: 0;
        font-size: 28px;
    }

    a{
        text-decoration: none;
        color: #fff;
    }

    a:hover{
        color: $primary-color;
    }
}

/*   Nav.   */
body#body-home .nav-home,
body#body-board .nav-home,
body#body-thread .nav-home,
body#body-stats .nav-stats,
body#body-gallery .nav-gallery{
    color: $primary-color;
}

.nav{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;

    font-size: 14px;
    margin: 0 0 7px;

    a{
        padding: 0 1em;
    }
}


/*   Footer.   */
footer{
    .wrapper{
        display: flex;
    
        .links{
            flex-grow: 1;
            text-align: left;
    
            li{
                display: inline-block;
                margin-right: 1em;
            }
    
            a{
                color: $text-color-dimmed;
                text-decoration: none;
            }
    
            a:hover{
                color: $primary-color;
            }
        }
    }

    .generated{
        i{
            color: #ddd;
        }
        
        span{
            display: none;
        }
    }

    .generated:hover{
        i{
            color: inherit;
        }

        span{
            display: inline;
        }
    }
}


/*   Headers.   */
h2, h3{
  margin: 0;
  line-height: 1;
  margin:  0 0 1em;
}

h2{
  font-size: 20px;
}

h3{
  font-size: 18px;
}

    
/* Pagination. */
.pagination{
    text-align: center;
    display: flex;

    a{
        display: block;
        height: 40px;
        width: 40px;
        font-size: 16px;
        text-align: center;
    }

    a:hover{
        color: #fff;
        background-color: $primary-color;
    }

    i{
        vertical-align: middle;
        line-height: 40px;
        font-size: 25px;
    } 

    .page-current{
        flex: 1;
        display: inline-block;
        vertical-align: middle;
        line-height: 40px;
        font-size: 16px;
    } 
}

/*   General.  */
p{
    display: block;
    line-height: 1.2em;
}

a{
    text-decoration: underline;
    color: #000;
    cursor: pointer;
}

a:hover{
    color: $primary-color;
}

i{
    font-style: italic;
}

input{
    display: block;
    padding: .2em;
    border: 1px solid $border-color;
    transition: border 1s;
    box-sizing: border-box;
}

input:focus{
    border: 1px solid $primary-color;
}

/*   Content.   */
div.content{
    padding: 1em;

    p{
        margin: 1em 0;
    }
}

/*   Boards.   */
#boards{
    display: flex;
    flex-flow: row wrap;

    li{
        display: block;
        width: 33%;
        box-sizing: border-box;
        padding: 5px;
    }

    a{
        padding: .5em;
        display: block;
        background-color: #fff;
        border: 1px solid $border-color;

        text-decoration: none;
        font-size: 50px;
        text-align: center;
    }

    a:hover{
        color: #fff;
        background-color: $primary-color;
    }
}

/*   Threads.   */
.board-wrapper{
    display: flex;
    flex-flow: row nowrap;
}

.board-sidebar{
    width: 160px;
    padding: 0 0 0 1em;
    box-sizing: border-box;
}

.board-filters{
    h3{
        margin: .5em 0 .5em; 
    }

    a{
        text-decoration: none; 
    }

    .current-selection{
        text-decoration: underline; 
    }
}

#threads{
    flex: 1;

    display: flex;
    flex-flow: row wrap;

    li{
        display: block;
        width: 25%;
        box-sizing: border-box;
        padding: 5px;
    }

    a{
        display: flex;
        flex-flow: column nowrap;

        box-sizing: border-box;
        height: 100%;
        padding: 1em;
        overflow: hidden;

        text-decoration: none;
        text-align: center;

        background-color: #fff;
        border: 1px solid $border-color;
    }

    .thread-saved a{
        background-color: #67809f;
        color: #ecf0f1;
    }

    a:hover{
        color: #fff;
        background-color: $primary-color;
    }

    .img-container{
        min-height: 100px;
        overflow: hidden;

        img{
            max-width: 100%;
            max-height: 150px;
        }
    }

    .thread-info{
        font-size: 12px;

        div{
            margin: .2em 0;
        }
    }

    .thread-tags{
        font-size: 11px;
        margin: .2em 0;

        div{
            display: inline-block;
            margin: .2em;
            padding: .4em;
            background-color: $primary-color;
            color: #fff;
            border-radius: 3px;
        }
    }

    .thread-subject{
        font-weight: bold;
    }

    .thread-comment{
        max-height: 100px;
        overflow: hidden;
        flex: 1;
    }
}


/*   Posts.   */
#posts .post{
    padding: 1em;

    border: 1px solid $border-color;
    margin-bottom: 10px;
    background-color: #fff;

    .post-image-container{ /* Lets avoid wasting space in the tooltip. */
        width: 200px;
    }
}

.post{ /* .post needs a spearate class instead of #posts>li because it is also displayed in tooltips. */
    width: 100%;
    transition: background-color 3s;
    box-sizing: border-box;

    display: flex;
    flex-flow: row nowrap;

    .post-image-container{
        padding: 0 1em 0 0;
        box-sizing: border-box;
        text-align: center;

        img{
            max-width: 100%;
        }
    }

    .post-content{
        flex: 1;
    }

    .post-header{
        li{
            display: inline-block;
        }
    }

    .post-icon{
        color: $text-color-dimmed;
    }

    .post-subject{
        font-weight: bold;
    }

    .post-author{
    }

    .post-author-name, .post-author-trip{
        color: #117743;
    }

    .post-time{
        color: #555;
    }

    .post-number a{
       text-decoration: none; 
    }

    .post-backlinks{
        display: inline;
    }

    .post-backlinks li{
        padding: 0 0 0 .5em;
    }

    .post-comment{
        padding: 1em 0;
        line-height: 1.2;
    }

    .post-link-dead{
        text-decoration: line-through;
    }
}

.post-highlight{
    background-color: $highlight-color !important;
}

.post-comment .post-link, .gallery-post-link{
    color: #c0392b;
}

.post-comment post-link:hover, .gallery-post-link:hover{
    color: #e74c3c;
}

.greentext{
    color: #4daf7c;
}

.highlight{
    background-color: $highlight-color;
}

pre{
    margin: .5em 0;
}

code{
    overflow: auto;
}

/*   Tags.   */
.tags{
    li{
        display: flex;
        padding: .4em .6em;
        text-align: left;
    }

    .tag-link{
        text-decoration: none;
        flex: 1;
    }

    .tag-link:hover{
        text-decoration: underline;
        color: #fff;
    }

    .remove-tag{
        display: none;
        color: #fff;
    }

    .remove-tag:hover{
        color: #e74c3c;
    }

    li:hover{
        background-color: $primary-color;
        color: #fff;
    }

    li:hover .tag-link{
        color: #fff;
    }

    li:hover .remove-tag{
        display: inline-block;
    }
}

#add-tag-input{
    width: 100%;
    margin: 1em 0;
}

.autocomplete-suggestions{
    background-color: #fff;
    border: 1px solid $border-color;
    border-top: 0;
}

.autocomplete-suggestion{
    padding: .2em 0;
}

.autocomplete-selected{
    color: #fff;
    background-color: $primary-color;
}

/*   Gallery.   */
#gallery-images{
    display: flex;
    flex-flow: row wrap;

    li{
        display: block;
        width: 33%;
        padding: 5px;
        box-sizing: border-box;

        >div{
            padding: 1em;
            background-color: #fff;
            border: 1px solid $border-color;
        }

        img, video{
            width: 100%;
        }

        .post-link{
            display: none;
        }
    }
}

.gallery-end, .gallery-throbber{
    color: $text-color-dimmed;
    text-align: center;
}

.gallery-throbber{
    font-size: 20px;
}

/*   Buttons.   */
.button{
    display: block;
    text-align: center;
    padding: 1em;
    margin: 1em 0;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.button-green{
    background-color: #16a085;
}

.button-green:hover{
    background-color: #1abc9c;
}

.button-red{
    background-color: #c0392b;
}

.button-red:hover{
    background-color: #e74c3c;
}

/* Stats. */
.chart-container{
    padding: 5px;

    .chart{
        width: 100%;
        border: 1px solid $border-color;
        padding: 1em;
        box-sizing: border-box;
        background-color: #fff;
    }

    #chart{
        height: 300px;
    }
}

.stats{
    display: flex;
    flex-flow: row wrap;

    li{
        flex-grow: 1;
        padding: 5px;
        min-width: 33.33%;
        box-sizing: border-box;

        >div{
            box-sizing: border-box;
            background-color: #fff;
            padding: 1em;
            border: 1px solid $border-color;
            height: 100%;
        }

        .value{
            text-align: center;
            font-size: 30px;
        }
    }
}

.last-update-info{
    padding: 5px;
    text-align: right;
    color: $text-color-dimmed;

    a{
        color: $text-color-dimmed;
    }

    a:hover{
        color: $primary-color;
    }
}

/* Status. */
.update.failed{
    color: #c0392b;
}

.update.completed{
    color: #16a085;
}

.update.started{
    color: #8E44AD;
}

/*   Search.   */
.search-parameters{
    display: flex;
    margin: 0 auto 10px;
    width: 100%;

    .search-main{
        display: flex;
        flex-flow: column nowrap;
        flex-grow: 1;

        .search-chart{
            background-color: #fff;
            border: 1px solid $border-color;
            flex-grow: 1;
            padding: 1em;

            #chart{
                height: 200px;
            }
        }

        .search-form{
            display: block;
            width: 100%;
            margin: 0 auto 10px;

            input{
                padding: .5em;
                font-size: 16px;
                width: 100%;
            }
        }
    }

    .search-filters{
        justify-content: center;
        padding-left: 1em;

        >div{
            flex: 1;
        }

        div:first-child h3{
            margin: 0 0 .5em; 
        }

        h3{
            margin: .5em 0 .5em; 
        }

        a{
            text-decoration: none; 
        }

        .current-selection{
            text-decoration: underline; 
        }
    }
}

/*   Error page.   */
.error-image{
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

/*   Responsive.   */

/*   Thread.   */
@media screen and (max-width: 500px){
    #posts .post{
        flex-flow: column nowrap;

        .post-image-container{
            width: 100%;
            padding: 1em;
        }
        
        .post-content{
            margin-left: 0;
        }
    }
}

/*   Catalog.   */
@media screen and (max-width: 900px){
    #threads li{
        width: 33%;
    }
}

@media screen and (max-width: 730px){
    #threads li{
        width: 50%;
    }
}

@media screen and (max-width: 550px){
    #threads{
        margin-right: 0;
    }

    .board-wrapper{
        flex-flow: column-reverse nowrap;
    }

    .board-sidebar{
        width: 100%;
    }

    .board-filters{
        display: flex;
        flex-flow: row wrap;

        div{
            min-width: 33%;
            flex-grow: 1;
        }
    }
}

@media screen and (max-width: 350px){
    .board-filters div{
        min-width: 100%;
    }

    #threads li{
        width: 100%;
    }
}

/*   Index.   */
@media screen and (max-width: 600px){
    #boards li{
        width: 100%;
    }
}

/*   Stats.   */
@media screen and (max-width: 700px){
    .stats li{
        min-width: 50%;
    }
}

@media screen and (max-width: 500px){
    .stats li{
        min-width: 100%;
    }
}

/*   Gallery.   */
@media screen and (max-width: 700px){
    #gallery-images{
        li{
            width: 50%;
        }
    }
}

@media screen and (max-width: 450px){
    #gallery-images{
        li{
            width: 100%;
        }
    }
}

/*   Search.   */
@media screen and (max-width: 500px){
    .search-parameters{
        flex-flow: column nowrap;

        .search-filters{
            display: flex;
            margin: .5em 0;

            h3{
                margin: 0 0 .5em; 
            }
        }
    }
}

/*   Nav/header.   */
@media screen and (max-width: 450px){
    header .wrapper{
        text-align: center;
        margin: 0 auto;
        flex-flow: column nowrap;
        align-items: center;

        >a, >a:first-child{
            margin: .5em 0;
        }
    }

    .nav{
        margin: 1em auto;
    }
}
