{% extends "base.html" %}

{% block inner_head %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script>
        var chartData = {{ chart_data|safe }};
    </script>
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="wrapper">
            <div class="search-parameters">
                <div class="search-main">
                    <form class="search-form" method="get">
                        <input type="text" name="search"{% if parameters.search %} value="{{ parameters.search }}"{% endif %} placeholder="Search">
                    </form>

                    {% if parameters.search %}
                        <div class="search-info">
                            <p>Found {{ pagination.total_count }} results.</p>
                        </div>
                    {% endif %}
                </div>

                <div class="search-filters">
                    {% import "core/snippets/filters.html" as filters with context %}
                    <div>
                        <h3>Type</h3>
                        {{ filters.simple_filter("type", search_url_query) }}
                    </div>

                    <div>
                        <h3>Created</h3>
                        {{ filters.simple_filter("created", search_url_query) }}
                    </div>

                    <div>
                        <h3>Saved</h3>
                        {{ filters.simple_filter("saved", search_url_query) }}
                    </div>
                </div>
            </div>

            <ul id="posts">
                {% for post in post_list %}
                    <li class="post" id="post-{{ post.number }}">
                        <div class="post-image-container">
                            {% if post.image.thumbnail %}
                                <a href="{{ post.image.image_url }}" title="{{ post.image.original_name }}" target="_blank" class="post-image"><img src="{{ post.image.thumbnail_url }}"></a>
                            {% endif %}
                        </div>

                        <div class="post-content">
                            <ul class="post-header">
                                {% if post.is_main() %}
                                    <li class="post-icon">
                                       <i class="fa fa-level-down" title="OP"></i> 
                                    </li>
                                {% endif %}

                                {# Post subject. #}
                                {% if post.subject %}
                                    <li class="post-subject">
                                        {{ post.subject|forceescape|highlight(parameters.search) }}
                                    </li>
                                {% endif %}

                                {# Post author. #}
                                <li class="post-author">
                                    <span class="post-author-name">
                                        {{ post.name }}
                                    </span>

                                    {% if post.trip %}
                                        <span class="post-author-trip">
                                            {{ post.trip }}
                                        </span>
                                    {% endif %}
                                </li>

                                {# Post time. #}
                                <li class="post-time">
                                    {{ post.time|datetimeformat }}
                                </li>

                                {# Post number. #}
                                <li class="post-number">
                                    <a href="{{ post.get_absolute_url() }}">{{ post }}</a>
                                </li>
                            </ul>

                            {% if post.comment %}
                                <div class="post-comment">{{ post.comment|forceescape|highlight(parameters.search)|formatpost|nl2br }}</div>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% if is_paginated %}
        <div class="content">
            <div class="wrapper">
                {% from "core/snippets/pagination.html" import pagination_macro %}
                {{ pagination_macro(pagination, search_url_query(parameters)) }}
            </div>
        </div>
    {% endif %}
{% endblock %}
