{% extends "base.html" %}
{% from "core/snippets/post.html" import post_macro %}

{% block inner_head %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script>
        var chartData = {{ chart_data|safe }};
    </script>
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="wrapper">
            <div class="search-parameters">
                <div class="search-main">
                    <form class="search-form" method="get">
                        <input type="text" name="search" value="{{ parameters.search }}" placeholder="Search">
                    </form>

                    {% if parameters.search %}
                        <div class="search-info">
                            <p>Found {{ pagination.total_count }} results.</p>
                        </div>
                    {% endif %}
                </div>

                <div class="search-filters">
                    {% import "core/snippets/filters.html" as filters with context %}
                    <div>
                        <h3>Type</h3>
                        {{ filters.simple_filter("type", search_url_query) }}
                    </div>

                    <div>
                        <h3>Created</h3>
                        {{ filters.simple_filter("created", search_url_query) }}
                    </div>

                    <div>
                        <h3>Thread saved</h3>
                        {{ filters.simple_filter("saved", search_url_query) }}
                    </div>
                </div>
            </div>

            <ul id="posts">
                {% for post in post_list %}
                    {{ post_macro(post, user, parameters.search) }}
                {% endfor %}
            </ul>
        </div>
    </div>

    {% if pagination.is_paginated %}
        <div class="content">
            <div class="wrapper">
                {% from "core/snippets/pagination.html" import pagination_macro %}
                {{ pagination_macro(pagination, search_url_query(parameters)) }}
            </div>
        </div>
    {% endif %}
{% endblock %}
