{% extends "base.html" %}
{% from "core/snippets/post.html" import post_macro %}


{% block inner_head %}
    <script>
        var info_data = {
            board_name: '{{ board_name }}',
            thread_number: {{ thread_number }},
            board_url: '{{ url_for('.board', board=board_name) }}',
            thread_url: '{{ url_for('.thread', board=board_name, thread=thread_number) }}',
            ajax_url_save: '{{ url_for('api.save_thread') }}',
            ajax_url_get_parent_thread: '{{ url_for('api.get_parent_thread') }}',
            ajax_url_suggest_tag: '{{ url_for('api.suggest_tag') }}',
            ajax_url_add_tag: '{{ url_for('api.add_tag') }}',
            ajax_url_remove_tag: '{{ url_for('api.remove_tag') }}'
        };
    </script>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="wrapper">
            <ul id="posts">
                {% for post in post_list %}
                    {{ post_macro(post, user) }}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
