<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <title>{% block title %}Archive Chan{% endblock %}</title>
        {% block inner_head %}{% endblock %}
    </head>

    <body id="{{ body_id }}">
        <div id="site">
            <header>
                <div class="wrapper">
                    {# Main nav. #}
                    <a href="{{ url_for('core.index') }}">ARCHIVE CHAN</a>
                    {% block main_nav %}
                        {% if board_name %}
                            <a href="{{ url_for('core.board', board=board_name) }}">/{{ board_name }}/</a>
                        {% endif %}
                        {% if thread_number %}
                            <a href="{{ url_for('core.thread', board=board_name, thread=thread_number) }}">#{{ thread_number }}</a>
                        {% endif %}
                    {% endblock %}

                    {# Context sensitive nav. #}
                    <ul class="nav">
                        {% from 'snippets/nav.html' import nav %}
                        {{ nav(board_name, thread_number) }}
                    </ul>
                </div>
            </header>
            {% block content %}{% endblock %}
        </div>

        <footer>
            <div class="wrapper">
                <ul class="links">
                    <li><a href="{{ url_for('core.status') }}">status</a></li>
                    {% if user.is_authenticated() %}
                        <li><a href="{{ url_for('auth.logout') }}">log out</a></li>
                        <li><a href="{{ url_for('admin.index') }}">admin</a></li>
                    {% else %}
                        <li><a href="{{ url_for('auth.login') }}">log in</a></li>
                    {% endif %}
                </ul>
                <div>
                    All content is generated automatically and originates from <a href="http://4chan.org">4chan</a>.
                    <span class="generated"><i class="fa fa-linux"></i> <span>{{ now }}</span></span>
                </div>
            </div>
        </footer>
    </body>
</html>
