{% load staticfiles %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta charset="utf-8">
        <meta name="Robots" content="INDEX,FOLLOW">

        <link rel="stylesheet" href="{% static 'archive_chan/css/main.css' %}">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script src="{% static 'archive_chan/js/main.js' %}"></script>

        <title>{% block title %}Archive Chan{% endblock %}</title>
        {% block inner_head %}{% endblock %}
    </head>

    <body id="{{ body_id }}">
        <div id="site">
            <header>
                <div class="wrapper">
                    {# Main nav. #}
                    <a href="{% url 'archive_chan:index' %}">ARCHIVE CHAN</a>
                    {% if board_name %}<a href="{% url 'archive_chan:board' board_name %}">/{{ board_name }}/</a>{% endif %}
                    {% if thread_number %}<a href="{% url 'archive_chan:thread' board_name thread_number %}">#{{ thread_number }}</a>{% endif %}

                    {# Context sensitive nav. #}
                    <ul class="nav">
                        {% if thread_number %}
                            {% include 'archive_chan/snippets/nav_thread.html' %}
                        {% else %}
                            {% if board_name %}
                                {% include 'archive_chan/snippets/nav_board.html' %}
                            {% else %}
                                {% include 'archive_chan/snippets/nav_base.html' %}
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
            </header>

            {% block content %}{% endblock %}
        </div>

        <footer>
            <div class="wrapper">
                <ul class="links">
                    <li><a href="{% url "archive_chan:status" %}">status</a></li>
                </ul>
                <div>
                    All content is generated automatically and originates from <a href="http://4chan.org">4chan</a>.
                    <span class="generated"><i class="fa fa-linux"></i> <span>{% now "Y-m-d G:i:s e" %}</span></span>
                </div>
            </div>
        </footer>
    </body>
</html>
