{% load staticfiles %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta charset="utf-8">
        <meta name="Robots" content="INDEX,FOLLOW">

        <link rel="stylesheet" href="{% static 'archive_chan/css/main.css' %}">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script src="{% static 'archive_chan/js/main.js' %}"></script>

        <title>{% block title %}Archive Chan{% endblock %}</title>
        {% block inner_head %}{% endblock %}
    </head>

    <body id="{{ body_id }}">
        <div id="site">
          <header>
            <div class="wrapper">
                <div class="logo">
                    <a href="{% url 'archive_chan:index' %}">ARCHIVE CHAN</a>
                    {% block header_link %}
                        {% if board_name %}<a href="{% url 'archive_chan:board' board_name %}">/{{ board_name }}/</a>{% endif %}
                        {% if thread_number %}<a href="{% url 'archive_chan:thread' board_name thread_number %}">#{{ thread_number }}</a>{% endif %}
                    {% endblock %}
                    <ul class="nav">
                        {% include 'archive_chan/snippets/nav.html' %}
                    </ul>
                </div>
            </div>
          </header>

          {% block content %}{% endblock %}
        </div>

        <footer>
          <div class="wrapper">
            All content is generated automatically and originates from <a href="http://4chan.org">4chan</a>.
            <span class="generated"><i class="fa fa-linux"></i> <span>{% now "Y-m-d G:i:s e" %}</span></span>
          </div>
        </footer>
    </body>
</html>
