{% load archive_chan_filters %}

<div class="thread-filters">
    <div>
        <h3>Order by</h3>
        <ul class="fa-ul">
            {% for item in available_parameters.sort %}
                <li>
                    {% if item.0 == parameters.sort %}
                        {% if parameters.sort_reverse %}  
                            <i class="fa-li fa fa-sort-amount-desc"></i>
                            <a href="{% url 'archive_chan:board' board_name %}{% board_url_query "sort" item.0 %}" class="current-selection">{{ item.1.0 }}</a>
                        {% else %}
                            <i class="fa-li fa fa-sort-amount-asc"></i>
                            {% with value="-"|add:item.0 %}
                                <a href="{% url 'archive_chan:board' board_name %}{% board_url_query "sort" value %}" class="current-selection">{{ item.1.0 }}</a>
                            {% endwith %}
                        {% endif %}
                    {% else %}
                            {% with value="-"|add:item.0 %}
                                <a href="{% url 'archive_chan:board' board_name %}{% board_url_query "sort" value %}">{{ item.1.0 }}</a>
                            {% endwith %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h3>Saved</h3>
        <ul class="fa-ul">
            {% for item in available_parameters.saved %}
                <li>
                    {% if item.0 == parameters.saved %}
                        <i class="fa-li fa fa-check"></i>
                        <a href="{% url 'archive_chan:board' board_name %}{% board_url_query "saved" item.0 %}" class="current-selection">{{ item.1.0 }}</a>
                    {% else %}
                        <a href="{% url 'archive_chan:board' board_name %}{% board_url_query "saved" item.0 %}">{{ item.1.0 }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h3>Last reply</h3>
        <ul class="fa-ul">
            {% for item in available_parameters.last_reply %}
                <li>
                    {% if item.0 == parameters.last_reply %}
                        <i class="fa-li fa fa-check"></i>
                        <a href="{% url 'archive_chan:board' board_name %}{% board_url_query "last_reply" item.0 %}" class="current-selection">{{ item.1.0 }}</a>
                    {% else %}
                        <a href="{% url 'archive_chan:board' board_name %}{% board_url_query "last_reply" item.0 %}">{{ item.1.0 }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h3>Tagged</h3>
        <ul class="fa-ul">
            {% for item in available_parameters.tagged %}
                <li>
                    {% if item.0 == parameters.tagged %}
                        <i class="fa-li fa fa-check"></i>
                        <a href="{% url 'archive_chan:board' board_name %}{% board_url_query "tagged" item.0 %}" class="current-selection">{{ item.1.0 }}</a>
                    {% else %}
                        <a href="{% url 'archive_chan:board' board_name %}{% board_url_query "tagged" item.0 %}">{{ item.1.0 }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

    {% if parameters.tag %}
        <div>
            <h3>Tag</h3>
            <ul class="tags">
                {% for name in parameters.tag %}
                    <li>
                        <i class="fa fa-fw fa-tag"></i>
                        <a class="tag-link" href="{% url 'archive_chan:board' board_name %}?tag={{ name }}">{{ name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
