{% extends "archive_chan/base.html" %}
{% load i18n %}
{% load cache %}
{% load archive_chan_filters %}

{% block inner_head %}
    <script>
        var info_data = {
            board_name: '{{ board_name }}'
        };
    </script>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="wrapper board-wrapper">
            <ul id="threads">
                {% for thread in thread_list %}
                    {% if thread.saved %}
                        <li class="thread-saved">
                    {% else %}
                        <li>
                    {% endif %}
                        <a href="{% url 'archive_chan:thread' board_name thread.number %}">
                            {% with thread.first_post as post %}
                                <div class="img-container">
                                    {% with post.image as image %}
                                        <img src="{{ image.thumbnail.url }}">
                                    {% endwith %}
                                </div>

                                <div class="thread-info">
                                    <div class="thread-info-time">
                                        last <time class="timeago" datetime="{{ thread.last_reply|date:"c" }}">{{ thread.last_reply }}</time>
                                    </div>
                                    <div class="thread-info-stats">
                                        <i class="fa fa-comment-o"></i> {{ thread.replies_count|add:"-1" }}
                                        <i class="fa fa-picture-o"></i> {{ thread.images_count|add:"-1" }}
                                    </div>
                                </div>

                                <div class="thread-tags">
                                    {% for tag in thread.tags.all %}
                                        <div>{{ tag.name }}</div>
                                    {% endfor %}
                                </div>

                                {% if post.subject %}
                                    <div class="thread-subject">{{post.subject}}</div>
                                {% endif %}

                                {% if post.comment %}
                                    <div class="thread-comment">{{post.comment}}</div>
                                {% endif %}
                            {% endwith %}
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <div class="board-sidebar">
                {% cache 300 board_filters parameters %}
                    {% include "archive_chan/snippets/board_filters.html" %}
                {% endcache %}
            </div>
        </div>
    </div>

    {% if is_paginated %}
        <div class="content">
            <div class="wrapper">
                {% url 'archive_chan:board' board_name as url %}
                {% board_url_query_assign as url_query %}
                {% include "archive_chan/snippets/pagination.html" %}
            </div>
        </div>
    {% endif %}
{% endblock %}
