{% extends "archive_chan/base.html" %}
{% load staticfiles %}

{% block inner_head %}
    <script src="{% static 'archive_chan/js/gallery.js' %}"></script>
    <script>
        var info_data = {
            {% if board_name %}board: '{{ board_name }}',{% endif %}
            {% if thread_number %}thread: '{{ thread_number }}',{% endif %}
            ajax_url_gallery: '{% url 'archive_chan:ajax_gallery' %}'
        };
    </script>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="wrapper">
            <noscript><p>This page is updated automatically and requires JavaScript.</p></noscript>
            <ul id="gallery-images"></ul>
        </div>
    </div>
{% endblock %}
