{% extends "archive_chan/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block inner_head %}
    <script src="{% static 'archive_chan/js/gallery.js' %}"></script>
    <script>
        var info_data = {
            {% if board_name %}board: '{{ board_name }}',{% endif %}
            {% if thread_number %}thread: '{{ thread_number }}',{% endif %}
            ajax_url_gallery: '{% url 'archive_chan:ajax_gallery' %}'
        };
    </script>
{% endblock %}

{% block header_link %}
    {% if board_name %}<a href="{% url 'archive_chan:board' board_name %}">/{{ board_name }}/</a>{% endif %}
    {% if thread_number %}<a href="{% url 'archive_chan:thread' board_name thread_number %}">#{{ thread_number }}</a>{% endif %}
{% endblock %}

{% block nav_link %}
    {% if thread_number %}
        {% include 'archive_chan/nav_thread.html' %}
    {% else %}
        {% if board_name %}
            {% include 'archive_chan/nav_board.html' %}
        {% else %}
            {% include 'archive_chan/nav_base.html' %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="content">
        <div class="wrapper">
            <ul id="gallery-images"></ul>
        </div>
    </div>
{% endblock %}
