{% extends "archive_chan/base.html" %}
{% load i18n %}

{% block content %}
    <div class="content">
        <div class="wrapper">
            <ul id="boards">
                {% for board in board_list %}
                    <li>
                        <a href="{% url 'archive_chan:board' board.name %}">{{ board }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block inner_footer %}
    <ul class="additional-links">
        <li><a href="{% url 'archive_chan:stats' %}"><i class="fa fa-bar-chart-o fa-fw"></i> Global statistics</a></li>
    </ul>
{% endblock %}
