{% extends "archive_chan/base.html" %},
{% load i18n %}
{% load archive_chan_filters %}

{% block content %}
    <div class="content">
        <div class="wrapper">
            <form class="search-form" method="get" action="{% url "archive_chan:board_search" board_name %}">
                <input type="text" name="search" value="{{ parameters.search }}" placeholder="Search">
            </form>
            <ul id="posts">
                {% for post in post_list %}
                    <li class="post" id="post-{{ post.number }}">
                        <div class="post-image-container">
                            {% with post.image as image %}
                                {% if image.thumbnail %}
                                    <a href="{{ image.image.url }}" title="{{ image.original_name }}" target="_blank" class="post-image"><img src="{{ image.thumbnail.url }}"></a>
                                {% endif %}
                            {% endwith %}

                            {# If this is a top post. #}
                            {% if post.number == thread_number %}
                            {% endif %}
                        </div>

                        <div class="post-content">
                            <ul class="post-header">
                                {# Post subject. #}
                                {% if post.subject %}
                                    <li class="post-subject">
                                        {{ post.subject }}
                                    </li>
                                {% endif %}

                                {# Post author. #}
                                <li class="post-author">
                                    <span class="post-author-name">
                                        {{ post.get_name }}
                                    </span>

                                    {% if post.trip %}
                                        <span class="post-author-trip">
                                            {{ post.trip }}
                                        </span>
                                    {% endif %}
                                </li>

                                {# Post time. #}
                                <li class="post-time">
                                    <time class="timeago" datetime="{{ post.time|date:"c" }}">{{ post.time }}</time>
                                </li>

                                {# Post number. #}
                                <li class="post-number">
                                    <a href="{% url 'archive_chan:thread' board_name post.thread.number %}#post-{{ post.number }}">{{ post }}</a>
                                </li>
                            </ul>

                            {% if post.comment %}
                                <div class="post-comment">{{ post.comment|force_escape|formatpost|safe|linebreaksbr }}</div>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
